*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/1.jpg);
    /* filter: blur(5px); */
    /* -webkit-filter: blur(8px) ; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-slider-item{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r{
    height: 2rem;
}
.l{
    height: 2rem;
}
.main{
    width: 400px;
}
.btn2{
    width: 9rem;
    height: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    background-color: #4da6ff;
    text-align: center;
    padding-top: 6px;
}
.btn2:hover{
    background: #0066cc;
}